nav {
    height: 50px;
    width: 100%;
    background-color: #0295a9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

#links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.link {
    color: white;
    font-size: 26px;
    text-decoration: none;
    transition: 0.25s;
}

.link:hover {
    letter-spacing: 4px;
    color: #FDD037;
    text-decoration: underline;
    transition: .5s;

}