.todoList {
    margin-left: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 5px solid #0295a9;
    border-radius: 25px;
    padding: 5px;

}

.todos {
    padding: 10px;
    background-color: #12ADC1;

    border-radius: 0 0 15px 15px;
}

