#todoList {
    margin-left: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 5px solid #0295a9;
    border-radius: 25px;
    padding: 5px;
}

.headerTodos {
    display: flex;
    justify-content: space-between;
}

.todos {
    padding: 10px;
    background-color: #12ADC1;

    border-radius: 0 0 15px 15px;
}

.headerTodo {
    display: flex;
}

.checkBox {
    cursor: pointer;
}

.finish {
    background-color: #FDD037;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin: 5px;

}

.notfinish {
    /*background-color: white;*/
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 7px;
    margin: 5px;
}

.headerTodo h4 {
    color: #FDD037;
    width: 100%;
    margin: 0 0 0 5px;
    font-size: 18px;
}

.headerTodo .finish + h4 {
    text-decoration: line-through;
}

/*.headerTodo .finish + .headerTodo h4 {*/
/*    text-decoration: line-through;*/
/*}*/

.headerTodo h4 {
    color: #FDD037;
    width: 100%;
    margin: 0 0 0 5px;
    font-size: 18px;
}

.todo p {
    color: white;
    font-size: 16px;
}