input {
    all: unset;
}

.headerTodos {
    display: flex;
    justify-content: space-between;
}

.todos {
    padding: 10px;
    background-color: #12ADC1;

    border-radius: 0 0 15px 15px;
}

.headerTodo {
    display: flex;
    align-items: center;
}

.checkBox {
    cursor: pointer;
}

.finish {
    background-color: #FDD037;
    width: 10px;
    height: 10px;
    border: 2px solid #FDD037;

    border-radius: 7px;
    margin-right: 5px;
}

.notfinish {
    /*background-color: white;*/
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 100px;
    margin-right: 5px;
}

.headerTodo h4 {
    color: #FDD037;
    /*width: 100%;*/
    margin: 0 0 0 5px;
    font-size: 18px;
}

.headerTodo .finish + h4 {
    text-decoration: line-through;
}

.bottomTodo {
    display: grid;
    justify-content: space-between;

    grid-template-columns: 1fr 50px;
}

.bottomTodo {
    display: grid;
    justify-content: space-between;

    grid-template-columns: 1fr 50px;
}

.bottomTodo p {
    height: 22px;
}

.bottomTodo input {
    margin: 16px 0;
    border: 0 solid #fff;
    background-color: #12ADC1;
    color: white;
    font-size: 16px;

    font-family: roboto, serif;
    font-weight: normal;
    height: 22px;
}

.bottomTodo .editIconContainer {
    width: 100%;
    height: 100%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomTodo .editIconContainer .editIcon {
    width: 25px;
    height: 25px;
}

